/* tooltip */
label {
  position: relative; }
  label dfn {
    background: url(assets/images/icons/16/black/question.png) left top no-repeat;
    font-weight: normal;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 20px;
    top: 0;
    width: 16px; }
    label dfn a {
      display: none; }
    label dfn:hover {
      background-image: url(assets/images/icons/16/black/exclaim.png);
      background-position: 5px 5px;
      background-color: #ffffcc;
      border: 1px solid black;
      color: black;
      margin-left: -5px;
      padding: 8px 5px 5px;
      margin-top: -5px;
      margin-right: -364px;
      width: 375px;
      height: auto;
      z-index: 10;
      text-align: justify;
      box-shadow: 5px 5px 5px #444444; }
      label dfn:hover a {
        display: inline; }
